*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mid{
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.insideDiv{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    color: #C2185B;
}

.insideHeader{
    background-color: rgba(255, 255, 255, 0.2);
    height: 40%;
    display: flex;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #C2185B;
    font-family: sans-serif;
    flex-direction: column;
    padding-top: 4px;
    text-align: center;
}

.insideMid{
    background-color: rgba(255, 255, 255, 0.2);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: #C2185B;
    font-family: sans-serif;
}

.line{
    border: solid 1px white;
    width: 100%;
}

.state_name , .district_name{
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 1vw;
    font-weight: bold;
    font-size: medium;
}

.district_button{
    padding: 1vw;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.district_button:hover{
    background-color: black;
    color: white;
}

.fields{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main_heading{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #FCBCD7;
}

@media (max-width: 768px){

    .state_name , .district_name{
        width: 40vw;
        padding: 2vw;
    }

    .district_button{
        padding: 2vw;
        font-weight: bolder;
        font-size: medium;
    }
    
}
